---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout pageLayout={pageTitle}>
  <div class="main">
    <h1>{pageTitle}</h1>
    <h2>Astroの基本的な機能を網羅したブログになります。</h2>
    <p>
      Astroのテスト開発としてmicroCMSでコンテンツ管理を行うブログを作成しました。
    </p>
  </div>
</BaseLayout>

<style>
  h1 {
    font-weight: bold;
  }
</style>
