---

---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Blog</title>
	</head>
	<body>
      <header>
         <nav>
            <a href="/">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/blog">BLOG</a>
         </nav>
      </header>
		<h1>このブログについて</h1>
      <h2>Astroの基本的な機能を網羅したブログになります。</h2>
      <p></p>
	</body>
</html>
