---
// import Layout from "../layouts/Layout.astro";

//microCMS呼び出し
import {getBlogs} from'../lib/microcms'
const response = await getBlogs({ fields: ["id", "title"] });
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Blog</title>
	</head>
	<body>
		<header>
         <nav>
            <a href="/">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/blog">BLOG</a>
         </nav>
      </header>
      <main>
         <h1>BLOG</h1>
         <ul>
           {
             response.contents.map((content: any) => (
               <li>
                 <a href={content.id}>{content.title}</a>
               </li>
             ))
           }
         </ul>
       </main>
	</body>
</html>
