---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
//microCMS呼び出し
import { getBlogs } from "../lib/microcms";
const response = await getBlogs({ fields: ["id", "title"] });
const pageTitle = "記事一覧";
---

<BaseLayout pageLayout={pageTitle}>
  <main>
    <ul>
      {
        response.contents.map((content: any) => (
          <li>
            <a href={content.id}>{content.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
