---

---

<header>
  <nav>
    <div>
      <h1>Astro</h1>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/">HOME</a>
      </li>
      <li>
        <a href="/about">ABOUT</a>
      </li>
      <li>
        <a href="/blog">BLOG</a>
      </li>
      <li>
        <a href="/blog">SOCIALS</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    width: 100%;
    border-bottom: solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
</style>
